#alif{
      width: 250px; /* you can adjust */
      height: auto;
      border-radius: 12px;
      box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
      transition: transform 0.4s ease;
  
      cursor: pointer;
        animation: spin 2s linear infinite;
}
#btn{
    font-size: 20px;
    border: 5px 20px solid rgb(119, 0, 255);
    margin: 30px 1px 00px;
    text-align: center;
    padding: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
}
#hi{
    font-size: 40px;
}    
   
    span{
        text-decoration: none;
        color: rgb(0, 255, 55);
    }
    .navbar a {
      float: right;
      display:flow-root;
      color: #ffffff;
      text-align: center;
      padding: 14px 20px;
      margin: 20px;
      
    }
    
        h1{
            text-align: center;
            color: rgb(215, 227, 250);
            
            font-size: 59px;
            
        }
        .flex-box{ 
            background-image: url('https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExeWR1cHp0ZDkwZWNmZm1lMjQ3N2h4YWJyMWp3aXBmcWhpYWUzOWgyaCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/3ov9jQWd5qhiUSPDri/giphy.gif');
            display: flex;
            background-size: cover;
            background-position: center;
            gap: 20px;
            padding: 20px;
            border: 2px solid rgb(2, 24, 221);
            margin: 10px; 
        }
        .flex-box2{
            display: flex;
            
            color: antiquewhite;
            padding: 10px ;
            margin:auto ;
            gap: 20px;
            font-size: 21px;
            

        }
        img{
            width: 200px;
            height: 200px;
            border-radius: 20px ;
            border: 2-px solid rgb(0, 255, 55);
            
        }
        #text{
            
            font-size: 27px;
            
            text-align:justify;
            color: aliceblue;
        }
        body{
            background-image: url('https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExeDA1MGZkMHVvcTU5dGtjc3gzOG5zcTczN2wxbXR4dWR0bThpenEyMiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/fs6OGJ4Eb3ajC/giphy.gif');
            background-size: cover;
            padding: 50px;
            background-position: center;
        }
   form{
    background-size: cover;
    background-image: url('https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExeWR1cHp0ZDkwZWNmZm1lMjQ3N2h4YWJyMWp3aXBmcWhpYWUzOWgyaCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/3ov9jQWd5qhiUSPDri/giphy.gif');
    border: 5px solid white;
    padding: 20px;
    text-align: left;
    font-size: 20px;
    margin: 150px 400px;    color:aquamarine;
    background-position: center;
    border-radius: 20px;
   }
   #skill{
    text-align: center;
    color: antiquewhite;
    font-size: 40px;
    text-decoration: underline;
    margin: 20px;
   }
   .chose{
    display: flex;
    text-align: center;
    color: antiquewhite;
    font-size: 40px;
    text-decoration: underline;
    margin: 20px;
   }
   .box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 20px 20px 20px;
    padding: 0px 20px 20px 20px;
    gap: 80px;
    font-size: 30px;
   }
   button{
    background-color: rgb(0, 255, 55);
   }
   #skills{
    border: 2px solid rgb(12, 5, 137);
    padding: 10px;
    text-align: justify;
   }
   #nahid{
    color: rgb(0, 255, 55);
   
    font-size:40px;
   }

   #back{
    color: rgb(0, 255, 55);
    text-align: right;
    margin-right: 10px;
    gap: 20px;
   }
   #back1{
    color: rgb(0, 255, 55);
    text-align: right;
    margin-right: 400px;
    gap: 20px;
   }